# Set it if you want to host multiple redis instances on the same server.
# This is useful if you want separately-configurable databases (for example with different maxmemory policies)
# on the same server. Usually you'll want to separate session and cache storage, so cache does not evict sessions.
redis_instance_name: ~

redis_package: redis
redis_daemon: "redis{% if redis_instance_name %}-{{ redis_instance_name }}{% endif %}"

redis_conf_path: "/etc/{{ redis_daemon }}.conf"
redis_piddir: "/var/run/redis"
redis_pidfile_path: "{{ redis_piddir }}/{{ redis_daemon }}.pid"

redis_port: 6379
redis_bind_interface: 127.0.0.1
redis_unixsocket: no
redis_timeout: 300

redis_syslog: no
redis_loglevel: "notice"
redis_logdir: /var/log/redis
redis_logfile: "{{ redis_logdir }}/{{ redis_daemon }}-server.log"

redis_databases: 16
redis_maxclients: 512
redis_somaxconn: 65535

redis_persistence_enable: yes
redis_save:
  - 900 1
  - 300 10
  - 60 10000

redis_rdbcompression: "yes"
redis_dbfilename: dump.rdb
redis_dbdir: "/var/lib/{{ redis_daemon }}"

redis_maxmemory: 0
redis_maxmemory_policy: "noeviction"
redis_maxmemory_samples: 5

redis_appendonly: "no"
redis_appendfsync: "everysec"

# Add extra include files for local configuration/overrides.
redis_includes: []

# Require authentication to Redis with a password.
redis_requirepass: ""

# Disable certain Redis commands for security reasons.
redis_disabled_commands: []
#  - FLUSHDB
#  - FLUSHALL
#  - KEYS
#  - PEXPIRE
#  - DEL
#  - CONFIG
#  - SHUTDOWN
#  - BGREWRITEAOF
#  - BGSAVE
#  - SAVE
#  - SPOP
#  - SREM
#  - RENAME
#  - DEBUG

