###############################################################
# Partial configuration to be included in every location block
# that shall proxy the request to PHP-FPM FastCGI upstream.
###############################################################

if ($PHP_IS_DEBUG_REQUEST) {
    add_header "{{ nginx_debug_request_info_header_name}}" "Token-Verified; Passed-To-Debug-Upstream";
    add_header "Set-Cookie" "{{ nginx_debug_request_cookie_name }}={{ nginx_debug_request_token }}; HttpOnly; SameSite=Strict";
}

fastcgi_pass $PHP_FASTCGI_UPSTREAM;

include {{ nginx_magento_fastcgi_params_include_path }};
include fastcgi_params;