fastcgi_param  PHP_VALUE        "memory_limit=${PHP_MEMORY_LIMIT} \n max_execution_time=${PHP_MAX_EXECUTION_TIME}";
fastcgi_param  SCRIPT_FILENAME  $document_root$fastcgi_script_name;
fastcgi_param  PHP_IDE_CONFIG   serverName=$PROJ_NAME;
fastcgi_param  MAGE_MODE        $MAGE_MODE;
fastcgi_param  ORIGINAL_URI     $request_uri;
{% if nginx_magento_routing_configuration %}
fastcgi_param  REQUEST_URI      $FASTCGI_REQUEST_URI;
{% endif %}
fastcgi_param  REMOTE_PORT      $http_x_remote_port;
fastcgi_param  HTTPS            "{{ mageops_https_enable | ternary('on', 'off') }}";

{% if nginx_magento_run_type in ('store', 'website') or nginx_magento_routing_configuration %}
fastcgi_param MAGE_RUN_CODE $MAGE_RUN_CODE;
fastcgi_param MAGE_RUN_TYPE $MAGE_RUN_TYPE;
{% endif %}

fastcgi_read_timeout {{ nginx_fcgi_read_timeout }};
fastcgi_connect_timeout {{ nginx_fcgi_connect_timeout }};



fastcgi_buffers {{ nginx_magento_fastcgi_buffers_chunk_count }} {{ nginx_magento_fastcgi_buffers_chunk_size }};
fastcgi_buffer_size {{ nginx_magento_fastcgi_buffers_head_size }};

{% if nginx_magento_fastci_params_extra | default(false, true) %}
# --- START CUSTOM APPLICATION {{ mageops_app_name }} PARAMS ---

{{ nginx_magento_fastci_params_extra }}

# --- END CUSTOM APPLICATION {{ mageops_app_name }} PARAMS ---
{% endif %}
