profiles:
  cache_warmup:
    profile: "{{ (tmp_blackfire_out_nocache.stdout | from_json)._links.graph_url.href }}"
  urls:
{% for res in tmp_blackfire_out_cache.results %}
    - "{{ res.item }}"
{% endfor %}
  graphs:
{% for res in tmp_blackfire_out_cache.results %}
    - "{{ (res.stdout | from_json)._links.graph_url.href }}"
{% endfor %}
