[Unit]
Description=Unison file sync daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/unison -socket {{ unison_port }} -perms 0 -dontchmod true
Restart=always
RestartSec=1
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=unison
User={{ unison_user }}
Group={{ unison_group }}
WorkingDirectory={{ unison_guest_working_dir }}
UMask=002

[Install]
WantedBy=multi-user.target