
php_fpm_listen_allowed_clients: "127.0.0.1"
php_fpm_pm_type: ondemand
php_fpm_pm_max_children: 10
php_fpm_pm_start_servers: 5
php_fpm_pm_min_spare_servers: 5
php_fpm_pm_max_spare_servers: 5
php_fpm_pm_max_requests: 500
php_fpm_terminate_timeout: 600
php_fpm_pool_listen_user: "{{ nginx_user }}"
php_fpm_pool_listen_group: "{{ nginx_group }}"

php_fpm_daemon_conf_file_path: "/etc/php-fpm.conf"
php_fpm_pool_conf_dir_path: "/etc/php-fpm.d"
php_fpm_run_dir_path: "/var/run/php-fpm"
php_fpm_log_dir_path: "/var/log/php-fpm"

php_fpm_pool_conf_file_path: "{{ php_fpm_pool_conf_dir_path }}/php-fpm.backend.conf"
php_fpm_pool_fcgi_socket_path: "{{ php_fpm_run_dir_path }}/php-fcgi-php-fpm-backend.sock"
php_fpm_pid_file_path: "{{ php_fpm_run_dir_path }}/php-fpm.pid"
