ansible>=2.9.16,<2.10

# some tasks call aws command on localhost
# make sure this is BEFORE boto3 and boto
awscli

# needed for inventory and aws modules
boto3

# required by ansible ec2 module
boto

# needed for python `ipaddr` filter
ipaddress
netaddr

# needed for managing databases (e.g. creating project db in infra step)
# mysql
PyMySQL

# needed for running docker (e.g. building aws lambda artifacts)
docker-py

# required for awscli
PyYAML<5.3

# required for `cs.ansible-plugins` role
jq

# required if host running ansible have selinux installed
selinux

# distro 1.7.0 breaks fact discovery in ansible for some nodes
# distro introduced breaking change that changed package
# from using single file to directory module, this isn't compatible with
# import used by our ansible version
# We are pinning this to previous version until we upgrade to never ansible
distro<1.7.0
