{% set cfg = magento_fscache_preload_config %}

[Unit]
Description=Preload Magento small PHP files into memory

[Service]
Type=simple
WorkingDirectory=/var/www/magento/current/
ExecStart=/usr/bin/vmtouch -f -l -m {{ cfg.max_file_size }} {% for pattern in cfg.file_name_patterns %}-I '{{ pattern }}'{% endfor %} {{ cfg.directories | join(' ') }}
Restart=always
RestartSec=5min

[Install]
WantedBy = multi-user.target
