[Unit]
Description=Magento App Node Warmup

After=network.target
After=network-online.target

Requires=network-online.target
Requires=nginx.service
Requires=php-fpm.service

ConditionPathExists=!{{ magento_live_release_dir }}/pub/WARMUP

[Service]
Type=simple
RemainAfterExit=no
Restart=on-failure
RestartSec=30s

ExecStartPre={{ magento_live_release_dir }}/bin/magento setup:db:status
ExecStart={{ magento_live_release_dir }}/bin/magento cs:warm-node \
            --local-url="http://localhost:{{ nginx_app_port }}"

User={{ magento_user }}
Group={{ magento_group }}

[Install]
WantedBy=multi-user.target
