<?php
return [
    'backend' =>
        [
            'frontName' => '{{ magento_admin_path }}',
        ],
    {% if elasticsuite_version is version_compare('2.4', '>=') %}
    'system' =>
        [
            'default' =>
                [
                    'smile_elasticsuite_core_base_settings' =>
                        [
                            'es_client' =>
                                [
                                    'servers' => '{{ mageops_elasticsearch_host }}:{{ elasticsearch_http_port }}',
                                    'enable_https_mode' => false,
                                    'http_auth_user' => '',
                                    'http_auth_pwd' => '',
                                    'enable_http_auth' => false,
                                ],
                            'indices_settings' =>
                                [
                                    'alias' => '{{ magento_elasticsearch_index_alias }}',
                                ],
                        ],
            ],
        ],
    {% endif %}
    'crypt' =>
        [
            'key' => '{{ magento_crypt_key }}',
        ],
    'session' => [
        'save' => 'redis',
        'redis' => [
            'host' => '{{ mageops_redis_sessions_host }}',
            'port' => '{{ mageops_redis_sessions_port }}',
            'password' => '',
            'timeout' => '2.5',
            'persistent_identifier' => '',
            'database' => '0',
            'compression_threshold' => '2048',
            'compression_library' => 'gzip',
            'log_level' => '1',
            'max_concurrency' => '{{ magento_session_max_redis_concurrency }}',
            'break_after_frontend' => '5',
            'break_after_adminhtml' => '30',
            'first_lifetime' => '600',
            'bot_first_lifetime' => '60',
            'bot_lifetime' => '7200',
            'disable_locking' => '0',
            'min_lifetime' => '60',
            'max_lifetime' => '2592000',
        ],
    ],
    'db' =>
        [
            'table_prefix' => '',
            'connection' =>
                [
                    'default' =>
                        [
                            'host' => '{{ mageops_mysql_host }}',
                            'dbname' => '{{ mageops_app_mysql_db }}',
                            'username' => '{{ mageops_app_mysql_user }}',
                            'password' => '{{ mageops_app_mysql_pass }}',
                            'model' => 'mysql4',
                            'engine' => 'innodb',
                            'initStatements' => 'SET NAMES utf8;',
                            'active' => '1',
                        ],
                ],
        ],
    'resource' =>
        [
            'default_setup' =>
                [
                    'connection' => 'default',
                ],
        ],
    'x-frame-options' => 'SAMEORIGIN',
    'MAGE_MODE' => '{{ magento_mode }}',
    'cache_types' =>
        [
            'config' => 1,
            'layout' => 1,
            'block_html' => 1,
            'collections' => 1,
            'reflection' => 1,
            'db_ddl' => 1,
            'eav' => 1,
            'customer_notification' => 1,
            'full_page' => 1,
            'config_integration' => 1,
            'config_integration_api' => 1,
            'translate' => 1,
            'config_webservice' => 1,
        ],
    'install' =>
        [
            'date' => 'Tue, 11 Nov 2016 11:11:00 +0000',
        ],
    'http_cache_hosts' => [
        [
            'host' => '{{ mageops_varnish_host }}',
            'port' => {{ mageops_varnish_port }}
        ],
    ],
    {% if magento_redis_cache %}
    'cache' =>
        [
            'frontend' =>
                [
                    'default' =>
                        [
                            'backend' => 'Cm_Cache_Backend_Redis',
                            'backend_options' =>
                                [
                                    'server' => '{{ mageops_redis_host }}',
                                    'database' => '0',
                                    'port' => {{ mageops_redis_port}},
                                ],
                        ],
                    'page_cache' =>
                        [
                            'backend' => 'Cm_Cache_Backend_Redis',
                            'backend_options' =>
                                [
                                    'server' => '{{ mageops_redis_host }}',
                                    'database' => '1',
                                    'port' => {{ mageops_redis_port}},
                                    'compress_data' => '0',
                                ],
                        ],
                ],
        ],
    {% endif %}
    {% if magento_rabbitmq_queue %}
    'queue' =>
        [
            'amqp' =>
                [
                    'host' => '{{ mageops_rabbitmq_host }}',
                    'port' => {{ rabbitmq_amqp_port }},
                    'user' => '{{ magento_rabbitmq_username }}',
                    'password' => '{{ magento_rabbitmq_password }}',
                    'virtualhost' => '{{ magento_rabbitmq_virtual_host }}',
                    'ssl' => false
                ],
        ],
    {% endif %}
    {% if magento_version is version('2.3', '>=') %}
    {% if magento_consumer_workers_enable %}
    'cron_consumers_runner' =>
        [
            'cron_run' => false,
            'max_messages' => {{ magento_consumer_workers_max_messages | default(500) }},
        ],
    {% else %}
    {# 
     # Disable consumers cron runner explicitly otherwise Magento will run them even if there
     # is no amqp connection configured consuming resources unnecessarily and spamming logfiles. 
     #}
    'cron_consumers_runner' =>
        [
            'cron_run' => false,
        ],
    {% endif %}
    {% endif %}
];