[program:magento-consumer-{{ item.consumer }}]
command=php {{ mageops_app_web_dir }}/current/bin/magento queue:consumers:start {{ item.consumer }} {% if item.area_code is defined -%} --area-code={{ item.area_code }} {%- endif %} --batch-size={{ item.batch_size | default(100) }} {% for arg in item.extra_args | default([]) %}{{ arg | quote }} {% endfor %}

directory={{ mageops_app_web_dir }}/current

process_name = magento-consumer-{{ item.consumer }}-%(process_num)s
numprocs={{ item.process_count | default(1) }}

autostart=true
autorestart=true

startsecs=0                                                                     ; Ensures program is always restarted by never going into FATAL state.
startretries=10

exitcodes=0,2
stopsignal=KILL
stopwaitsecs=10

user={{ magento_user }}
environment=USER="{{ magento_user }}",HOME="{{ magento_user_home }}"            ; Important! Supervisor does not set any environment variables and we need those.

redirect_stderr=false
stdout_logfile=/var/log/supervisor/%(program_name)s.log
stdout_logfile_maxbytes=10MB
stdout_logfile_backups=3
stderr_logfile=/var/log/supervisor/%(program_name)s.error.log
stderr_logfile_maxbytes=1MB
stderr_logfile_backups=3
