# Enable new relic features
{{ new_relic_cron_start }} root sh -c '/usr/local/bin/mageopscli is_cron_node && /usr/local/bin/mageopscli set_feature_flag newrelic_apm true'
# Disable new relic features
{{ new_relic_cron_stop }} root sh -c '/usr/local/bin/mageopscli is_cron_node && /usr/local/bin/mageopscli set_feature_flag newrelic_apm false'
