@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-size: 1.2vw;
    color: #212121;
}

@media (max-width: 1280px) {
    html {
        font-size: 14px;
    }
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    background-color: #F1F1F1;
    margin: 0;
    height: 100vh;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    overflow: hidden
}

.error-page {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &--external {
        body {
            border: 0;
            margin: 0;
            padding: 0;
        }
        
        iframe {
            width: 100%;
            width: 100vw;
            height: 100%;
            height: 100vh;
            border: 0;
            padding: 0;
            margin: 0;
        }
    }

    &__svg-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        overflow: hidden;
        width: 100%;
    }
    
    &__cable-img {
        max-height: 300px;
        width: 500px;
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        margin: 0 -5px;
        fill: {{ varnish_error_page_color_primary }};
    }
    
    @media (max-width: 500px) {
        &__cable-img {
            margin: 0 -5rem;
        }
    }
    
    &__cable-line {
        background-color: {{ varnish_error_page_color_primary }};
        height: 4px;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
    }
    
    &__header {
        margin-top: 3rem;
        text-align: center;
        position: relative;
        padding: 0 20px;
    }
    
    &__message {
        text-transform: uppercase;
        font-size: 2rem;
        margin-top: 0;
    }
    
    &__text {
        font-size: 1.3rem;
    }
    
    &__text--muted {
        opacity: 0.6;
        font-size: 0.8rem;
    }
    
    &__details-box {
        background: #1C2431;
        padding: 1.5rem;
        margin: 0 auto;
        border-radius: 0.3em;
        position: absolute;
        max-width: 40rem;
        top: 5vw;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    }
    
    &__details-title {
        color: #af0087;
        text-align: center;
        font-size: 1.2rem;
        margin: 0 0 1rem 0;
        padding: 0;
    }
    
    &__details-message {
        color: #0087FF;
        text-align: left;
        font-size: 1rem;
        margin: 0;
    }
    
    &__details-message ul {
        padding-left: 1em;
        margin: 1em 0 0 0;
    }
    
    &__details-data {
        font-size: 0.8rem;
        margin: 1rem 0 0 0;
        border-radius: 0.3rem;
        box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.1);
        background: #fff;
        padding: 1rem;
        font-family: "JetBrains Mono", "Fira Code", "Source Code Pro", "Roboto Mono", monospace;
        overflow-x: scroll;
    }
}




