- name: Ensure MySQL Community repo release package is installed and up-to-date
  yum:
    name: "{{ repo_mysql_package_name }}"

- name: Ensure chosen mysql repo variants are enabled
  ini_file:
    state: present
    create: no
    path: "/etc/yum.repos.d/{{ repo_mysql_filename }}.repo"
    section: "{{ repo_mysql_name_prefix }}{{ variant }}"
    option: enabled
    value: "{{ (variant in repo_mysql_variants_enabled) | ternary('1', '0') }}"
    no_extra_spaces: yes
  loop: "{{ repo_mysql_variants }}"
  loop_control:
    loop_var: variant

