#!/usr/bin/env bash

NEW_VCL_NAME="$1"
NEW_VCL_PATH="/home/{{ varnish_manager_user }}/${NEW_VCL_NAME}"
CUR_VCL_PATH="{{ varnish_backends_vcl }}"
BKP_VCL_PATH="${CUR_VCL_PATH}.backup"

if [ ! -f "$NEW_VCL_PATH" ] ; then
    echo "No new backends file found"
    exit 1
fi

restore_backup() {
    echo "VCL didn't compile, restoring backup..."
    cp "${BKP_VCL_PATH}" "${CUR_VCL_PATH}"
}

echo "Backing up vcl..."
cp "${CUR_VCL_PATH}" "${BKP_VCL_PATH}"

echo "Using new backends vcl file ${NEW_VCL_PATH}..."
cp "${NEW_VCL_PATH}" "${CUR_VCL_PATH}"

echo "Reloading VCLs..."
if ! /bin/systemctl reload varnish;then
    # Check if the new VCL compiles
    if /usr/sbin/varnishd -Cf /etc/varnish/default.vcl > /dev/null 2>&1;then
        /bin/systemctl restart varnish
        if [ $? -ne 0 ] ; then
            restore_backup
            /bin/systemctl restart varnish
        fi
    else
        restore_backup
    fi
fi
