- name: Generate server config for domain redirect
  template:
    src: language-redirect-path.conf.j2
    dest: "{{ nginx_language_redirect_server_default_conf_path }}"
  notify:
    - Apply final nginx config

- name: Register provisioned nginx config files
  set_fact:
    nginx_config_cleanup_provisioned_files: "{{ nginx_config_cleanup_provisioned_files + provisioned_configs }}"
  vars:
    provisioned_configs:
      - "{{ nginx_language_redirect_server_default_conf_path }}"