if (beresp.status == 503) {
    {{ synthetic_error_page(code='beresp.status', resp='beresp') }}
}

if (beresp.status == 502 || beresp.status == 503 || beresp.status == 504) {
    if(bereq.retries == {{ varnish_max_retries }}) {
        return (deliver);
    } else {
        return (retry);
    }
}
