if (obj.hits > 0) {
    set resp.http.X-Magento-Cache-Debug = "HIT";
} else {
    set resp.http.X-Magento-Cache-Debug = "MISS";
}

if (resp.http.X-Rewrite-HTML-Maxage) {
    unset resp.http.X-Rewrite-HTML-Maxage;

    {% if varnish_html_cache_control_max_age != 0 %}
        # Rewrite only max-age, get rid of s-max-age
        set resp.http.Cache-Control = "public, max-age={{ varnish_html_cache_control_max_age }}";

        # Just in case somebody is using HTTP/1.0 fix the Expires header too
        set resp.http.Expires = "" + (now + {{ varnish_html_cache_control_max_age }}s);
    {% else %}
        set resp.http.Cache-Control = "no-cache, no-store, must-revalidate";
        set resp.http.Pragma = "no-cache";
        set resp.http.Expires = "0";
    {% endif %}
}

if (resp.status == 502 || resp.status == 504) {
    return(synth(resp.status));
}

if (req.http.X-Warmup) {
    set resp.http.X-Warmup = "skipped-body";
    set resp.status = 204;
}

{% if varnish_throttling_enabled %}
    {% include "vcl/subroutines/deliver_throttling.vcl.j2" %}
{% endif %}

unset resp.http.Age;
unset resp.http.X-Magento-Debug;
unset resp.http.X-Magento-Tags;
unset resp.http.X-Powered-By;
unset resp.http.Server;
unset resp.http.X-Varnish;
unset resp.http.Via;
unset resp.http.Link;