{% if varnish_standalone %}
    # Called when VCL is loaded, before any requests pass through it. Typically used to initialize VMODs.
    call backends_init;
{% endif %}

{% if varnish_lang_redirects | length > 0 %}
    new al_rule = accept.rule("en");

    {% for hostname, langs in varnish_lang_redirects.items() %}
        {% for lang in langs %}
            al_rule.add("{{ lang | lower }}");
        {% endfor %}
    {% endfor %}
{% endif %}

{% if varnish_magento_vary_sign -%}
    new sha1 =  blobdigest.digest(SHA1);
{% endif %}
