if (req.http.Host == "{{ mageops_gtm_domain }}" ) {
    set req.backend_hint = gtm_director.backend();
    return (pass);
} elsif (req.http.Host == "{{ mageops_gtm_preview_domain }}" ) {
    set req.backend_hint = gtm_preview_director.backend();
    return (pass);
} else {
    set req.backend_hint = app_director.backend();
}
