if ((resp.status == 301 || resp.status == 302) && req.http.location) {
    set resp.http.location = req.http.location;
    set resp.http.Set-Cookie = "vrredir=" + req.http.location + "; Secure";
    return (deliver);
}

if (resp.status == 502 || resp.status == 503 || resp.status == 504) {
    {{ synthetic_error_page() }}

    return (deliver);
}

{% if varnish_secure_site %}
    if (resp.status == 401) {
        {{ synthetic_error_page() }}

        set resp.http.WWW-Authenticate = "Basic realm=Secured";

        return (deliver);
    }
{% endif %}

{% if varnish_throttling_enabled %}
    {% include "vcl/subroutines/synth_throttling.vcl.j2" %}
{% endif %}
