{% for device in zram_devices %}
[zram{{ loop.index0 }}]
{% if device.zram_fraction is defined %}
zram-fraction = {{ device.zram_fraction }}
{% endif %}
{% if device.host_memory_limit_mb is defined %}
host-memory-limit = {{ device.host_memory_limit_mb }}M
{% endif %}
{% if device.max_zram_size_mb is defined %}
max-zram-size = {{ device.max_zram_size_mb }}M
{% endif %}
{% if device.compression_algorithm is defined %}
compression-algorithm = {{ device.compression_algorithm }}
{% endif %}
{% if device.swap_priority is defined %}
swap-priority = {{ device.swap_priority }}
{% endif %}
{% if device.mount_point is defined %}
mount-point = {{ device.mount_point }}
{% endif %}
{% if device.fs_type is defined %}
fs-type = {{ device.fs_type }}
{% endif %}
{% endfor %}
