- name: <CentOS> Increase max inotify watches for unison
  sysctl:
    name: fs.inotify.max_user_watches
    value: "{{ unison_linux_inotify_max_user_watches | string }}"
    reload: yes
    state: present

- name: <CentOS> Make sure conflicting packages are absent
  yum:
    name: 
      - unison
      - unison-ocaml406
    state: absent

- name: <CentOS> Install latest unison version from MageOps RPM repo
  yum:
    name: unison-static
    state: latest
    enablerepo: mageops
