User {{ tinyproxy_user }}
Group {{ tinyproxy_group }}

Port {{ tinyproxy_port }}
Listen {{ tinyproxy_listen }}
BindSame {{ tinyproxy_bindsame }}

Timeout {{ tinyproxy_timeout }}
DefaultErrorFile "{{ tinyproxy_default_error_file }}"

{% for host in tinyproxy_allowed_hosts %}
Allow {{ host }}
{% endfor %}

LogLevel {{ tinyproxy_log_level }}
Logfile "{{ tinyproxy_logfile }}"

PidFile "{{ tinyproxy_pidfile }}"

{% for upstream in tinyproxy_upstream %}
Upstream {{ upstream }}
{% endfor %}

StartServers {{ tinyproxy_start_servers }}
MaxRequestsPerChild {{ tinyproxy_max_requests_per_child }}
MinSpareServers {{ tinyproxy_min_spare_servers }}
MaxSpareServers {{ tinyproxy_max_spare_servers }}
MaxClients {{ tinyproxy_max_clients }}

{% for port in tinyproxy_connect_ports %}
ConnectPort {{ port }}
{% endfor %}

{% for key, value in tinyproxy_extra_options.items() %}
{{ key }} {{ value }}
{% endfor %}
