{% macro synthetic_error_page(code='resp.status', resp='resp', data=none) %}
    synthetic(
        std.fileread("/etc/varnish/error" + {{ code }} + ".html")
            {% if data %}
            + "<script>window.MGS.error.data='" + data + "';</script>"
            {% endif %}
            + "</html>"
    );

    set {{ resp }}.http.Content-Type = "text/html; charset=utf-8";
    set {{ resp }}.http.Cache-Control = "no-cache, no-store, must-revalidate";
    set {{ resp }}.http.Pragma = "no-cache";
    set {{ resp }}.http.Expires = "0";
{% endmacro -%}

vcl 4.0;

import directors;
import std;
import accept;

{% if varnish_throttling_enabled -%}
    import vsthrottle;
{% endif %}

{% if varnish_magento_vary_sign -%}
    import blobdigest;
    import cookie;
    import blob;
{% endif %}

{% include "acl.vcl.j2" %}

{% if varnish_standalone -%}
    include "backends.vcl";
{% else %}
    backend default {
        .host = "{{ varnish_default_backend_ip }}";
        .port = "{{ varnish_backend_port }}";
    }
{% endif %}

sub vcl_init {
    {% block vcl_init %}{% endblock %}
}

sub vcl_recv {
    {% block vcl_recv %}{% endblock %}
}

sub vcl_hash {
    {% block vcl_hash %}{% endblock %}
}

sub vcl_backend_fetch {
    {% block vcl_backend_fetch %}{% endblock %}
}

sub vcl_backend_response {
    {% block vcl_backend_response %}{% endblock %}
}

sub vcl_deliver {
    {% block vcl_deliver %}{% endblock %}
}

sub vcl_hit {
    {% block vcl_hit %}{% endblock %}
}

sub vcl_backend_error {
    {% if varnish_vcl_backend_error_extra %}
    # ---  [START] custom project code  ---
    {% filter indent(width=4) -%}
    {{ varnish_vcl_backend_error_extra }}
    {% endfilter %}
    # ---  [END] custom project code  ---
    {% endif %}

    {% block vcl_backend_error %}{% endblock %}
}

sub vcl_synth {
    {% if varnish_vcl_synth_extra %}
    # ---  [START] custom project code  ---
    {% filter indent(width=4) -%}
    {{ varnish_vcl_synth_extra }}
    {% endfilter %}
    # ---  [END] custom project code  ---
    {% endif %}

    {% block vcl_synth %}{% endblock %}
}
