{% extends "vcl/base.vcl.j2" %}

{% block vcl_init %}

    {% filter indent(width=4) -%}
    {% include "vcl/subroutines/init.vcl.j2" %}
    {% endfilter %}

{% endblock %}


{% block vcl_recv %}

    {% filter indent(width=4) -%}
    {% include "vcl/subroutines/recv.vcl.j2" %}
    {% endfilter %}

{% endblock %}


{% block vcl_hash %}

    {% filter indent(width=4) -%}
    {% include "vcl/subroutines/hash.vcl.j2" %}
    {% endfilter %}

{% endblock %}

{% block vcl_backend_fetch %}

    {% filter indent(width=4) -%}
    {% include "vcl/subroutines/backend_fetch.vcl.j2" %}
    {% endfilter %}

{% endblock %}

{% block vcl_backend_response %}

    {% filter indent(width=4) -%}
    {% include "vcl/subroutines/backend_response.vcl.j2" %}
    {% endfilter %}

{% endblock %}


{% block vcl_deliver %}

    {% filter indent(width=4) -%}
    {% include "vcl/subroutines/deliver.vcl.j2" %}
    {% endfilter %}

{% endblock %}


{% block vcl_hit %}

    {% filter indent(width=4) -%}
    {% include "vcl/subroutines/hit.vcl.j2" %}
    {% endfilter %}

{% endblock %}


{% block vcl_backend_error %}

    {% filter indent(width=4) -%}
    {% include "vcl/subroutines/backend_error.vcl.j2" %}
    {% endfilter %}

{% endblock %}


{% block vcl_synth %}

    {% filter indent(width=4) -%}
    {% include "vcl/subroutines/synth.vcl.j2" %}
    {% endfilter %}

{% endblock %}
