{% extends "layout50x.html.j2" %}

{% set status_message = 'Internal Server Error' %}
{% block error_details_message %}
    Varnish or a backend service has encountered internal problem, possible check:
    <ul>
        <li>System and service logs on varnish server</li>
        <li>Webserver logs on app node</li>
        <li>Application backend (php-fpm) logs</li>
    </ul>
{% endblock %}
