{% extends "layout.html.j2" %}

{% block error_headline %}
    Error <strong>429</strong> <em>Too many requests</em>
{% endblock %}

{% block error_description %}
    You have made too many requests too fast, please wait a little before making more.
{% endblock %}