<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>{% block title %}Error {{ status_code }}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height">
    <meta name="robots" content="*"/>

    <style type="text/css">
        :root {
            --main-color: {{ _varnish_error_color_palete.main }};
            --background-color: {{ _varnish_error_color_palete.background }};
            --footer-background-color: {{ _varnish_error_color_palete.footer_background }};
            --error-background-color: {{ _varnish_error_color_palete.error_background }};

            --text-dark-color: {{ _varnish_error_color_palete.text_dark }};
            --text-light-color: {{ _varnish_error_color_palete.text_light }};
            --error-message-color: {{ _varnish_error_color_palete.error_message }};
        }

        @import url('https://fonts.googleapis.com/css?family=Lato:400,700');
        html {
            margin: 0;
            box-sizing: border-box;
            font-size: 15px;
            font-family: 'Lato', sans-serif;
            color: var(--text-light-color);
        }
        *,
        *:before,
        *:after {
            -webkit-box-sizing: inherit;
            box-sizing: inherit;
        }
        body {
            background-color: #fff;
            margin: 0;
            min-height: 100vh;
            font-size: 15px;
        }
        h1,h2,h3,h4,h5,h6 {
            color: var(--text-dark-color);
        }
        h1 {
            font-size: 28px;
            margin: 1.2rem 0;
        }
        h3 {
            font-size: 22px;
            margin: 1rem 0;
        }
        p {
            margin: 1em 0;
        }
        .error-page {
            background-color: var(--background-color);
            min-height: 100vh;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-end;
            text-align: center;
        }
        .error-page__content {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 1.2rem 0;
        }
        .error-page__footer {
            width: 100%;
            background-color: var(--footer-background-color);
            padding: 1.2rem 0;
            align-self: end;
        }
        .error-page__logo {
            max-width: 150px;
            margin: 0 auto 2rem;
        }
        .container {
            margin: 0 auto;
            width: 450px;
            max-width: 100%;
            padding: 0 15px;
        }
        .container-wide {
            margin: 0 auto;
            width: 1190px;
            max-width: 100%;
            padding: 0 40px;
        }
        .color-special {
            color: var(--main-color);
        }
        .color-dark {
            color: var(--text-dark-color);
        }
        a {
            color: var(--text-dark-color);
            text-decoration: none;
        }
        a:hover {
            text-decoration: none;
        }
        #error-details-box {
            color: var(--text-dark-color);
            margin-top: 1rem;
        }
        .error-page__details-box {
            background: var(--error-background-color);
            padding: 1.5rem;
            text-align: left;
        }
        .error-page__details-title {
            text-align: center;
            font-size: 18px;
            margin-bottom: 1rem;
        }
        .error-page__details-title p {
            margin-top: 0;
        }
        .error-page__details-message {
            color: var(--error-message-color);
        }
        .error-page__details-message ul {
            padding-left: 1em;
            margin: 1em 0 0 0;
        }
        .error-page__details-data {
            font-size: 0.8rem;
            margin: 1rem 0 0 0;
            box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.1);
            padding: 1rem;
            font-family: "JetBrains Mono", "Fira Code", "Source Code Pro", "Roboto Mono", monospace;
            overflow-x: scroll;
        }

        @media (min-width: 768px) {
            .error-page__footer {
                padding: 3rem 0;
            }
            .error-page__logo {
                max-width: 184px;
                margin-bottom: 3rem;
            }
        }

        @media (max-height: 650px) {
            .error-page__logo {
                margin-bottom: 1rem;
            }
            .error-page__footer {
                padding: 0.2rem 0;
            }
        }

        {% if varnish_error_page_url %}
            html, body {
                border: 0;
                margin: 0;
                padding: 0;
            }
            iframe {
                width: 100%;
                width: 100vw;
                height: 100%;
                height: 100vh;
                border: 0;
                padding: 0;
                margin: 0;
            }
        {% endif %}
    </style>
</head>
<body>
    {% if varnish_error_page_url %}
        <iframe src="{{ varnish_error_page_url }}" frameborder="0" name="errorpage" scrolling="auto" width="100%"></iframe>
    {% else %}
        <div class="error-page">
            <div class="error-page__content">
                <div class="error-page__logo-warapper container">
                    <div class="error-page__logo">
                        {{ varnish_error_html_logo }}
                    </div>
                </div>
                <div class="error-page__content-warapper container">
                    {% block content %}
                    <h1 class="error-page__message" id="error-headline">
                        {% block error_headline %}Error <strong>{{ status_code }}</strong>{% endblock %}
                    </h1>

                    <p class="error-page__text" id="error-description">{% block error_description %}{% endblock %}</p>
                    {% endblock %}
                    <p class="color-dark">Please try again later</p>
                </div>
                <div class="error-page__details-box container-wide" id="error-details-box" style="display: none;">
                    <div class="error-page__details-title" id="error-details-title">
                        <p>Error returned by <em>varnish</em> | <strong>{{ status_code }} <em>{{ status_message | default('Unknown') }}</em></strong></p>
                    </div>
                    {% if self.error_details_message() | trim != "" %}
                    <div class="error-page__details-message" id="error-details-message">
                        {% block error_details_message %}{% endblock %}
                    </div>
                    {% endif %}
                    <pre class="error-page__details-data" id="error-details-data" style="display: none;"></pre>
                </div>
            </div>
            <div class="error-page__footer">
                {% if varnish_error_texts.contact_us_phone | default("") | trim != "" and varnish_error_texts.contact_us_text  | default("") | trim != "" %}
                <div class="error-page__footer-wrapper container">
                    <h3>Contact us<br />
                    <span class="color-special">{{ varnish_error_texts.contact_us_phone | default("") }}</span>
                    </h3>
                    <p>{{ varnish_error_texts.contact_us_text | default("") }}</p>
                </div>
                {% endif %}
            </div>

            <script>
                window.MGS = window.MGS || {};
                window.MGS.error = window.MGS.error || {code: {{ status_code }}};
                (function show_details() {
                    var error = window.MGS.error || {};
                    window.addEventListener('DOMContentLoaded', function(event) {
                        console.log('Error page data', window.MGS.error);
                    });
                    document.onkeydown = function(evt) {
                        evt = evt || window.event;
                        if (evt.keyCode == 69) {
                            if (typeof error.title !== 'undefined') {
                                document.getElementById('error-details-title').innerHTML = error.title;
                            }
                            if (typeof error.data !== 'undefined') {
                                document.getElementById('error-details-data').innerHTML = error.data;
                                document.getElementById('error-details-data').style.display = 'block';
                            }
                            document.getElementById('error-details-box').style.display = 'block';
                        }
                    }
                })();
            </script>
        </div>
    {% endif %}
</body>
<!-- Do not close HTML tag on purpose so extra data can be passed from varnish
     synth by appending dynamically generated JS code. Missing closing html tag
     is a trivial problem which shouldn't break the page in any modern browser. -->
<!-- </html> -->
