{% extends "layout.html.j2" %}

{% block content %}
    <script>
        window.MGS = window.MGS || {};

        window.MGS.translations = {
            en: {
                headline: 'Sorry, there has been a problem with our server and <strong>it\'s not your fault</strong>',
                description: 'We have been informed and are already working on a solution.'
            },
            pl: {
                headline: 'Przepraszamy, wystąpił problem z serwerem i <strong>to nie twoja wina</strong>',
                description: 'Zostaliśmy poinformowani i pracujemy nad rozwiązaniem problemu.'
            },
            de: {
                headline: 'Derzeit gibt es allgemeine Serverprobleme',
                description: 'Wir wurden bereits informiert und arbeiten an einer Lösung. Wir bitten um Ihr Verständnis.'
            },
        };
    </script>

    <h1 class="error-page__message" id="error-headline">
        Sorry, there has been a problem with our server and <strong>it's not your fault</strong>
    </h1>

    <p class="error-page__text" id="error-description">We have been informed and are already working on a solution.</p>

    <script>
        (function translate() {
            var translations = window.MGS.translations || {},
                lang = 'en',
                nav_lang = typeof window.navigator.language !== 'undefined' ? window.navigator.language.substring(0, 2) : null;

            if (nav_lang && typeof translations[nav_lang] !== 'undefined') {
                lang = nav_lang;
            }

            var translated = translations[lang];

            document.getElementById('error-headline').innerHTML = translated.headline;
            document.getElementById('error-description').innerHTML = translated.description;
        })();

        (function auto_reload() {
            var phase = parseInt(sessionStorage.getItem('mgs_backoff_reload_phase')) || 0,
                wait = Math.pow(2, phase) * 5;

            setTimeout(function() {
                console.log('Reloading page, backoff phase ' + phase + ', wait ' + wait + 's');
                if (phase > 6) { phase = 0; }
                sessionStorage.setItem('mgs_backoff_reload_phase', ++phase);
                location.reload();
            }, wait * 1000);
        })();
    </script>
{% endblock %}