allow_duplicates: no
dependencies:
  - cs.repo-nginx
  - cs.logrotate

galaxy_info:
  author: creativestyle
  description: nginx web server
  company: creativestyle Polska
  license: license (BSD, MIT)
  min_ansible_version: 2.7
  platforms:
    - name: EL
      versions: [7]
  galaxy_tags:
    - nginx
    - webserver
    - server
    - http
    - proxy
    - mageops
    - magento
    - magesuite
    - creativestyle
