- name: Make sure old nginx configuration files are absent
  file:
    path: "{{ item }}"
    state: absent
  loop:
    # Our config partials are stored now in /etc/nginx/includes.d
    - "/etc/nginx/magento_fastcgi_params"
    - "/etc/nginx/magento_server_body"
    - "/etc/nginx/magento_url_blacklist_check"

    # This is not needed anymore due to cleanup in `roles/cs.nginx/tasks/099-config-cleanup.yml`
    # # Now all conf.d files must have a numeric prefix to guarantee order, new name is `090-magento.conf`
    # - "{{ nginx_confd_dir }}/magento.conf"
    # # Very old name, Magento is always 2.x now, so no version suffix
    # - "{{ nginx_confd_dir }}/magento2.conf"
    # # Old name with a typo
    # - "{{ nginx_confd_dir }}/upsteram.conf"
    # # New name is `010-magento-fastcgi-upstream.conf` for consisteny
    # - "{{ nginx_confd_dir }}/000-php-fpm-upstream.conf"
