[program:import_dispatcher]
command=php {{ mageops_app_web_dir }}/current/bin/magento importer:import:dispatcher
directory={{ mageops_app_web_dir }}/current

autostart=true
autorestart=true

startsecs=0                                                                     ; Ensures program is always restarted by never going into FATAL state.
startretries=100

user={{ magento_user }}
environment=USER="{{ magento_user }}",HOME="{{ magento_user_home }}"            ; Important! Supervisor does not set any environment variables and we need those.

redirect_stderr=true
stdout_logfile=/var/log/supervisor/%(program_name)s.log	
stdout_logfile_maxbytes=10MB
stdout_logfile_backups=3
