- name: Ensure mysql user exists
  user:
    name: mysql

- name: Ensure the var directories exists
  file:
    path: "{{ item }}"
    state: directory
    owner: mysql
    group: mysql
    mode: 0755
  loop:
    - /var/run/mariadb
    - /var/log/mariadb

# In case `/var` or `/var/run` is a tmpfs (common thing nowadays)
- name: Ensure var directories always exist
  lineinfile:
    path: /etc/tmpfiles.d/mariadb.conf
    regexp: "\\s+{{ entry.path | regex_escape }}\\s+"
    line: >-
      {{ entry.type | default('d') }}
      {{ entry.path }}
      {{ entry.mode | default('0755') }}
      {{ entry.user | default('mysql') }}
      {{ entry.group | default('mysql') }}
      {{ entry.age | default('-') }}
      {{ entry.argument | default('-') }}
    create: yes
  loop:
    - path: /var/run/mariadb
    - path: /var/log/mariadb
    - path: /var/log/mariadb/*.log
      mode: '0644'
      type: z
  loop_control:
    loop_var: entry
    label: "{{ entry.path }}"
  register: tmpfiles_config

- name: Ensure var directory changes are applied at once
  command: systemd-tmpfiles --create
  when: tmpfiles_config is changed

- name: Execute upstream mysql role
  import_role:
    name: geerlingguy.mysql
  vars:
    mysql_root_name: "{{ mysql_root_user }}"
    mysql_root_password: "{{ mysql_root_pass }}"
    mysql_root_password_update: yes
    mysql_pid_file: /var/run/mariadb/mariadb.pid
    mysql_packages:
      - MariaDB-server
      - MariaDB-client
      - MariaDB-compat
