- name: Check status MageOps repo config file
  stat:
    path: "/etc/yum.repos.d/{{ repo_mageops_config_name }}"
  register: _repo_mageops_config_file_check

- name: Bootstrap MageOps repo by installing remote package
  yum:
    name: "{{ repo_mageops_release_package_url }}"
    state: present
  register: result
  until: result is succeeded
  retries: "{{ repo_mageops_installation_retries }}"
  delay: "{{ repo_mageops_installation_delay }}"
  when: not _repo_mageops_config_file_check.stat.exists
  notify: Regenerate yum cache for MageOps repo

- name: Set higher priority for mageops repo
  block:
    - name: Install priorities plugin
      yum:
        name:
          - yum-utils
          - yum-plugin-priorities
    - name: Set priority for mageops repo
      ini_file:
        path: "/etc/yum.repos.d/{{ repo_mageops_config_name }}"
        section: mageops
        option: priority
        value: "{{ mageops_repo_priority | string }}"
        backup: no
        no_extra_spaces: yes
  when: mageops_repo_priority | bool

- name: Make sure MageOps repo release package is up to date
  yum:
    name: "{{ repo_mageops_release_package_name }}"
    state: latest
  when: not _repo_mageops_config_file_check.stat.exists
  notify: Regenerate yum cache for MageOps repo


