nginx_remove_default_vhost: yes
nginx_client_max_body_size: 20M

# If you need to run custom PHP scripts from /pub you need to whitelist them here
# This is an nginx regexp, use something like:
# nginx_custom_php_scripts_path_pattern: '^/(script_name1|script_name2|scrip_prefix.*)\.php$'
nginx_custom_php_scripts_path_pattern: no

nginx_package: nginx
nginx_packages_extra: []

nginx_www_dir: "/var/www"
nginx_log_dir: "/var/log/nginx"
nginx_run_dir: "/var/run"
nginx_etc_dir: "/etc/nginx"

nginx_confd_dir: "{{ nginx_etc_dir }}/conf.d"
nginx_included_dir: "{{ nginx_etc_dir }}/include.d"
nginx_serverd_dir: "{{ nginx_etc_dir }}/server.d"
nginx_serverd_defaults_dir: "{{ nginx_etc_dir }}/server.d/defaults"
nginx_modules_conf_dir: "{{ nginx_etc_dir }}/modules"

# --- Automatic auto-loaded config file cleanup ---
# See comment in `tasks/099-cleanup.yml` for details.

# Directories to look for config files to be cleaned up if
# they were not provisioned with this run. These should be
# directories from which files are loaded automatically thus
# leftovers from previous provisioning versions could break
# the current setup. Other leftovers should not pose problems
# as they would not be used anyway.
nginx_config_cleanup_dirs:
  - "{{ nginx_confd_dir }}"
  - "{{ nginx_serverd_dir }}"
  - "{{ nginx_modules_conf_dir }}"

nginx_config_cleanup: yes

# Size of log file when it is legitimate for rotation
nginx_logrotate_log_size: 256M

# Amount of historic log files to keep
nginx_logrotate_history: 52

# Max age of kept log files in days
nginx_logrotate_maxage_days: 14
nginx_syscfg_limit_nofile: 131072

