
- import_tasks: 000-prepare-runtime-config.yml
- name: Execute Magento setup
  block:
    - include_tasks: 010-set-permissions.yml
    - include_tasks: 035-clean-old-static-content.yml
    - include_tasks: 037-wait-for-services.yml
    - include_tasks: 040-install-magento.yml
    - name: Set up new code
      block:
        - include_tasks: 070-setup-modules.yml
        - include_tasks: 075-compile-di.yml
        - include_tasks: 076-optimize-autoload.yml
        - include_tasks: 080-core-config.yml
        - include_tasks: 110-deploy-static-content.yml
          when: not magento_scd_skip
        - include_tasks: action/flush-cache.yml
      when: deploy_install_new_release
  become: yes
  become_user: "{{ magento_user }}"

- name: Post setup tasks (that need root)
  block:
    - include_tasks: 150-configure-logrotate.yml

- include_tasks: 160-gather-release-info.yml
    
- name: Install final Magento configuration
  include_tasks: 200-config-finalize.yml

- include_tasks: 210-setup-workers.yml
  when: magento_consumer_workers_enable and magento_version is version('2.3', '>=')

- include_tasks: 250-setup-services.yml



