
- import_tasks: 000-prepare-runtime-config.yml
- import_tasks: 001-install-deploy-deps.yml

- name: Execute Magento setup
  block:
    - include_tasks: 010-set-permissions.yml
    - include_tasks: 020-check-database.yml
    - include_tasks: 030-setup-elasticsuite.yml
      when: mageops_elasticsearch_host is defined and mageops_elasticsearch_host != ""
    - include_tasks: 035-clean-old-static-content.yml
    - include_tasks: 040-install-m2.yml
    - name: Set up new code
      block:
        # - include_tasks: 050-install-sample-data.yml
        #   when: magento_install_sample_data
        - include_tasks: 060-flush-cache.yml
        - include_tasks: 070-setup-modules.yml
        - include_tasks: 080-configure-integrations.yml
        - include_tasks: 090-setup-upgrade.yml
        - include_tasks: 095-enable-all-caches.yml
        - include_tasks: 100-set-production-mode.yml
        - include_tasks: 110-deploy-static-content.yml
          when: not magento_scd_skip
        - include_tasks: 060-flush-cache.yml
        - include_tasks: 120-optimize-autoload.yml
        - include_tasks: 140-install-extra-scripts.yml
      when: deploy_install_new_release
  become: yes
  become_user: "{{ magento_user }}"

- name: Post setup tasks (that need root)
  block:
    - include_tasks: 150-configure-logrotate.yml
    - include_tasks: 160-limit-cache-size.yml
  when: deploy_install_new_release

- include_tasks: 210-setup-workers.yml
  when: magento_consumer_workers_enable

- include_tasks: 300-reindex.yml
  when: magento_deploy_auto_reindex

