[Unit]
Description=Redis persistent key-value database

After=network.target
After=network-online.target
Wants=network-online.target

[Service]
Type=notify

ExecStart=/usr/bin/redis-server {{ redis_conf_path }} --daemonize no --supervised systemd
ExecStop=/usr/libexec/redis-shutdown {{ redis_daemon }}

User=redis
Group=redis

RuntimeDirectory=redis
RuntimeDirectoryMode=0755

RestartSec=3
Restart=always

# Redis is latency critical, therefore assign real time priority
CPUSchedulingPolicy=rr
CPUSchedulingPriority=49

TimeoutStartSec=30
TimeoutStopSec=60

# NOTE: this value is probably overwritten by limit.conf file
LimitNOFILE=131072

[Install]
WantedBy=multi-user.target
