[Unit]
Description={{redis_valkey_flavor}} persistent key-value database

After=network.target
After=network-online.target
Wants=network-online.target

[Service]
Type=notify

ExecStart=/usr/bin/{{redis_valkey_flavor}}-server {{ redis_conf_path }} --daemonize no --supervised systemd
{% if redis_valkey_flavor == 'redis' %}
ExecStop=/usr/libexec/redis-shutdown {{ redis_daemon }}
{% endif %}
User={{redis_valkey_flavor}}
Group={{redis_valkey_flavor}}

RuntimeDirectory={{redis_valkey_flavor}}
RuntimeDirectoryMode=0755

RestartSec=3
Restart=always

# Redis is latency critical, therefore assign real time priority
CPUSchedulingPolicy=rr
CPUSchedulingPriority=49

TimeoutStartSec=30
TimeoutStopSec=60

# NOTE: this value is probably overwritten by limit.conf file
LimitNOFILE=131072

[Install]
WantedBy=multi-user.target
