[Unit]
Description=Redis persistent key-value database
After=network.target
After=network-online.target
Wants=network-online.target

[Service]
Type=notify

ExecStart=/usr/bin/redis-server {{ redis_conf_path }} --supervised systemd
ExecStop=/usr/libexec/redis-shutdown {{ redis_daemon }}

User=redis
Group=redis

RuntimeDirectory=redis
RuntimeDirectoryMode=0755

RestartSec=3
Restart=always

[Install]
WantedBy=multi-user.target