[Unit]
Description=Restart Magento source preload service

[Service]
Type=oneshot
ExecStart=/bin/systemctl restart magento-preload-sources.service
ExecStartPost=/bin/systemctl stop magento-preload-sources-watcher.timer
RemainAfterExit=no

[Install]
WantedBy=multi-user.target