- name: Make sure pip aws is not installed
  pip:
    name: awscli
    state: absent

- name: Install awscli
  yum:
    name: awscli
    enablerepo: mageops
    state: latest

- name: Ensure default AWS Region is set
  ini_file:
    path: /root/.aws/credentials
    section: default
    option: region
    value: "{{ aws_region }}"