- name: Configure nginx for Magento
  template:
    src: "{{ config.template }}"
    dest: "{{ config.filepath }}"
  loop:
    - template: "{{ nginx_magento_fastcgi_params_template }}"
      filepath: "{{ nginx_magento_fastcgi_params_include_path }}"

    - template: "{{ nginx_magento_server_body_template }}"
      filepath: "{{ nginx_magento_server_body_include_path }}"

    - template: "{{ nginx_magento_fastcgi_pass_template }}"
      filepath: "{{ nginx_magento_fastcgi_pass_include_path }}"

    - template: "{{ nginx_magento_vhost_template }}"
      filepath: "{{ nginx_magento_vhost_conf_path }}"

    - template: "{{ nginx_magento_fcgi_upstream_template }}"
      filepath: "{{ nginx_magento_fcgi_upstream_conf_path }}"
  loop_control:
    loop_var: config
    label: "{{ config.template }} -> {{ config.filepath }}"
  notify: Apply final nginx config

- name: Register provisioned nginx config files
  set_fact:
    nginx_config_cleanup_provisioned_files: "{{ nginx_config_cleanup_provisioned_files + provisioned_configs }}"
  vars:
    provisioned_configs:
      - "{{ nginx_magento_vhost_conf_path }}"
      - "{{ nginx_magento_fcgi_upstream_conf_path }}"



