{% for lang, domain in nginx_language_redirect_domain_mapping.items() %}
  if ( $target_domain != "{{ domain }}" ) {
    {% if nginx_language_redirect_mode == 'geofence' %}
    rewrite / $scheme://$target_domain/ redirect;
    {% endif %}
    {% if nginx_language_redirect_mode == 'home-redirect' %}
    rewrite ^/$ $scheme://$target_domain/ redirect;
    {% endif %}
  }
{% endfor %}
