{% if nginx_language_redirect_detection_method == "geoip" -%}
geoip_country /usr/share/GeoIP/GeoIP.dat;

{%- set lang_source_var = "$geoip_country_code" %}
{%- endif %}
{%- if nginx_language_redirect_detection_method == "accept_language" -%}
set $first_language $http_accept_language;
if ($http_accept_language ~* '^(.+?),') {
    set $first_language $1;
}
{%- set lang_source_var = "$first_language" %}
{%- endif %}
{% if nginx_language_redirect_style == "dir" %}
map {{ lang_source_var }} $target {
{%- for lang, path in nginx_language_redirect_directory_mapping.items() %}
  {{ lang }} {{ path }};
{%- endfor %}
}
{% endif %}
{% if nginx_language_redirect_style == "domain" -%}
map {{ lang_source_var }} $target {
{%- for lang, domain in nginx_language_redirect_domain_mapping.items() %}
  {{ lang }} {{ domain }};
{%- endfor %}
}
{% endif %}