{%- if nginx_language_redirect_detection_method == "accept_language" -%}
set $first_language $http_accept_language;
if ($http_accept_language ~* '^(.+?),') {
    set $first_language $1;
}
{%- endif %}

{% for lang, domain in nginx_language_redirect_domain_mapping.items() %}
  if ( $target_domain != "{{ domain }}" ) {
    {% if nginx_language_redirect_mode == 'geofence' %}
    rewrite ^/(?!static|media) $scheme://$target_domain/{% if nginx_language_redirect_domain_redirect_include_domain %}?_mageops_redirect_source=$host{% endif %} redirect;
    {% endif %}
    {% if nginx_language_redirect_mode == 'home-redirect' %}
    rewrite ^/$ $scheme://$target_domain/{% if nginx_language_redirect_domain_redirect_include_domain %}?_mageops_redirect_source=$host{% endif %} redirect;
    {% endif %}
    {% if nginx_language_redirect_mode == 'deep-redirect' %}
    rewrite ^/(.*)$ $scheme://$target_domain/$1{% if nginx_language_redirect_domain_redirect_include_domain %}?_mageops_redirect_source=$host{% endif %} redirect;
    {% endif %}
  }
{% endfor %}
