[Unit]
Description=Warm Magento Up

After=php-fpm.service redis.service elasticsearch.service mysql.service varnish.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/magento-warm-up

[Install]
WantedBy=multi-user.target