- name: Create Launch Configuration
  ec2_lc:
    state: present
    name: "{{ autoscaling_launch_configuration_name }}"
    region: "{{ aws_region }}"
    assign_public_ip: "{{ autoscaling_assign_public_ip }}"
    instance_type: "{{ autoscaling_instance_type }}"
    image_id: "{{ autoscaling_instance_ami_id }}"
    security_groups: "{{ autoscaling_instance_security_groups }}"
    instance_profile_name: "{{ autoscaling_instance_iam_role }}"
    key_name: "{{ aws_ec2_ssh_key_name }}"
    instance_monitoring: False
    user_data: "{{ aws_ec2_instance_user_data }}"
    # This has zero costs on current-gen instances
    ebs_optimized: yes
  register: launch_configuration
  vars:
    aws_ec2_user_launch_script: "{{ autoscaling_instance_start_script }}"

- name: Create AutoScaling Group
  ec2_asg:
    state: present
    name: "{{ autoscaling_asg_name }}"
    region: "{{ aws_region }}"
    availability_zones: "{{ aws_app_asg_availability_zones | join(',') }}"
    launch_config_name: "{{ launch_configuration.name }}"
    load_balancers: "{{ autoscaling_loadbalancers | default(omit, true) }}"
    min_size: "{{ autoscaling_asg_min_size }}"
    max_size: "{{ autoscaling_asg_max_size }}"
    desired_capacity: "{{ autoscaling_asg_desired_capacity }}"
    vpc_zone_identifier: "{{ aws_vpc_subnet_id }}"
    default_cooldown: "{{ autoscaling_asg_cooldown }}"
    wait_timeout: "{{ autoscaling_asg_wait_timeout }}"
    replace_all_instances: yes
    replace_batch_wait: "{{ autoscaling_asg_replace_batch_wait | default(omit) }}"
    replace_batch_size: "{{ autoscaling_asg_replace_batch_size }}"
    termination_policies: NewestInstance
    tags: "{{ aws_tags_default | combine(asg_name_tags, aws_tags_trait_immutable, autoscaling_instance_tags) | dict_to_tag_list }}"
  vars:
    asg_name_tags:
      - Name: "{{ autoscaling_asg_name }}"

- name: Create ASG Termination Lifecycle Hook
  ec2_asg_lifecycle_hook:
    state: present
    region: "{{ aws_region }}"
    autoscaling_group_name: "{{ autoscaling_asg_name }}"
    lifecycle_hook_name: "{{ autoscaling_webnodedown_hook_name }}"
    transition: "autoscaling:EC2_INSTANCE_TERMINATING"
    heartbeat_timeout: 120
    default_result: CONTINUE
  when: autoscaling_webnodedown_hook_create