#![enable(implicit_some)]
(
// {{ pio_filesystem }} filesystem configuration
{% if pio_filesystem == "local" %}
    filesystem: (
        kind: "Local",
        path: "{{ pio_filesystem_local_dir }}"
    ),
{% endif %}
{% if pio_filesystem == "s3" %}
    filesystem: (
        kind: "S3",
        region: "eu-central-1",
        bucket_name: "{{ aws_s3_media_bucket }}",
    ),
{% endif %}
    http_server: (
        kind: "LazyResizeHttpServer",
        addr: "127.0.0.1:8441",
        quality_target_spread: {{ pio_quality_target_spread }},
        secret: "{{ lazy_resize_secret }}",
        source_directory: "catalog/product",
        target_directory: "{{ pio_target_directory }}",
        resize_strategy: "{{ pio_resize_strategy }}",
        additional_paths: [
{% if pio_optimize_media %}
            (
                url: "/media",
                quality: (
                    quality: {{ pio_media_fast_quality }},
                    spread: {{ pio_quality_target_spread }}
                ),
                target_ssim: {{ pio_media_target_ssim }},
                source_directory: "",
                target_directory: "{{ pio_media_target_directory }}",
                excluded_paths: [
                  "{{ pio_target_directory }}",
                  "{{ pio_media_target_directory }}"
                ]
            ),
{% endif %}
        ]
    )
)
