# GeoIP.conf file for `geoipupdate` program, for versions < 3.1.1.
# Used to update GeoIP databases from https://www.maxmind.com.
# For more information about this config file, visit the docs at
# https://dev.maxmind.com/geoip/geoipupdate/.
s
# `UserId` is from your MaxMind account.
UserId {{ geolite2_userid }}

# `LicenseKey` is from your MaxMind account
LicenseKey {{ geolite2_license_key }}

# `ProductIds` is from your MaxMind account.
ProductIds {{ geolite2_product_ids }}
