[program:varnish-purge-proxy]
command="{{ varnish_pp_bin.path }} aws {{ varnish_pp_instance_tags }} --listen={{ varnish_pp_listen_address }} --destport={{ varnish_pp_listen_port }} --port={{ varnish_pp_listen_port }}" -f

priority=5

autostart=true
autorestart=true

startsecs=1
startretries=3

exitcodes=0,2

user=root
environment=USER="root",HOME="/root"                                            ; Important! Supervisor does not set any environment variables and we need those.

redirect_stderr=true
stdout_logfile=/var/log/supervisor/%(program_name)s.log
stdout_logfile_maxbytes=10MB
stdout_logfile_backups=3
