- name: Get list of RDS instances
  rds_instance_facts:
    region: "{{ aws_region }}"
  register: rds_instances_info

- name: Set list of rds instances
  set_fact:
    aws_rds_instances: "{{ rds_instances_info.instances }}"

- name: Filter rds instance list by tags
  set_fact:
    aws_rds_instances: "{{ aws_rds_instances | json_query(rds_instances_tag_filter_query) | default([]) }}"
  vars:
    rds_instances_tag_filter_query: "[?{% for k, v in aws_rds_facts_mysql_tags.items() -%}tags.{{ k }} == '{{ v }}'{% if not loop.last %} && {% endif %}{% endfor %}]"

- name: Warn when more than one instance has been found
  debug:
    msg: |
      Warning! More than one matching rds instance found, using first one.
      Found: {{ aws_rds_instances | map(attribute='db_instance_identifier') | join(', ') }}
  when: aws_rds_instances | length > 1

- name: Set facts about project's rds instance
  set_fact:
    aws_rds_instance: "{{ aws_rds_instances | first }}"
    aws_rds_instance_id: "{{ (aws_rds_instances | first).db_instance_identifier }}"
    aws_rds_instance_host: "{{ (aws_rds_instances | first).endpoint.address }}"
  when: aws_rds_instances | length > 0

- debug:
    msg: "Found MySQL RDS instance: {{ aws_rds_instance.db_instance_identifier }} / {{ aws_rds_instance.endpoint.address }} ({{ aws_rds_instance.engine }} v{{ aws_rds_instance.engine_version }})"
  when: aws_rds_instance is defined

- name: Set MySQL host to the RDS instance
  set_fact:
    mageops_mysql_host: "{{ aws_rds_instance.endpoint.address }}"
  when: aws_rds_create and aws_rds_instance | default(false, true)
