[Unit]
Description=PHP-FPM Debug Pool Master

After=syslog.target network.target php-fpm.service

PartOf=php-fpm.service
WantedBy=php-fpm.service

[Service]
Type=notify

ExecStart=/usr/sbin/php-fpm --nodaemonize -y {{ php_fpm_debug_daemon_conf_file_path }} -c {{ php_debug_ini_path }}
ExecReload=/bin/kill -USR2 $MAINPID

PrivateTmp=true
RuntimeDirectory=php-fpm
RuntimeDirectoryMode=0755

RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target