[program:cache_warmup_crawler]
command=php {{ mageops_app_web_dir }}/current/bin/magento cache:warm:pages-crawl-worker
directory={{ mageops_app_web_dir }}/current
autostart=true
autorestart=true
startsecs=0
startretries=100
user={{ magento_user }}

redirect_stderr=true

stdout_logfile=/var/log/supervisor/%(program_name)s.log
stdout_logfile_maxbytes=10MB
stdout_logfile_backups=3
