{%- if nginx_language_redirect_multilevel_geoip_mode == "geoip" -%}
{%- set geoip_source = "$geoip_country_code" %}
{%- endif -%}

{%- if nginx_language_redirect_multilevel_geoip_mode == "geolite2" -%}
{%- set geoip_source = "$geoip2_data_country_code" %}
{%- endif -%}

{%- if nginx_language_redirect_multilevel_geoip_mode == "none" -%}
{%- set geoip_source = "\"none\"" %}
{%- endif -%}

{%- if nginx_language_redirect_multilevel_accept_language_mode == "first_language" -%}
{%- set accept_language_source = "$first_language" %}
{%- endif -%}

{%- if nginx_language_redirect_multilevel_accept_language_mode == "none" -%}
{%- set accept_language_source = "\"none\"" %}
{%- endif -%}



{%- if nginx_language_redirect_multilevel_accept_language_mode == "first_language" -%}
set $first_language $http_accept_language;
if ($http_accept_language ~* '^(.+?),') {
    set $first_language $1;
}
{%- endif %}

{% for rule in nginx_language_redirect_multilevel_rules %}
set $match_{{loop.index}} 1;

if ( $uri ~ "^/(static|media)" ) {
  set $match_{{loop.index}} 0;
}

{%- if rule.required_geoip_country is defined %}
if ( {{ geoip_source }} != "{{ rule.required_geoip_country }}" ) {
  set $match_{{loop.index}} 0;
}
{% endif -%}

{%- if rule.required_accept_language is defined %}
if ( {{ accept_language_source }} != "{{ rule.required_accept_language }}" ) {
  set $match_{{loop.index}} 0;
}
{% endif -%}

{%- if rule.required_path_regex is defined %}
if ( $uri !~ {{ rule.required_path_regex }} ) {
  set $match_{{loop.index}} 0;
}
{% endif -%}

{%- if rule.required_server_name is defined %}
if ( $server_name = "{{ rule.required_server_name }}" ) {
  set $match_{{loop.index}} 0;
}
{% endif -%}

if ( $match_{{loop.index}} = 1 ) {
  rewrite {{ rule.rewrite.source }} {{ rule.rewrite.target }} redirect;
}
{% endfor %}
