[Unit]
Description=Magento AWS coordinated cron service

[Service]
User={{ magento_user }}
Group={{ magento_group }}

Type=simple
Environment=MAGENTO_ROOT_DIR={{ magento_live_release_dir }}
WorkingDirectory={{ magento_live_release_dir }}
ExecStart=/usr/local/libexec/aws-cron-service.sh

Restart=always
# Give system time to recover after crash
RestartSec=300

# QoS options
{% if aws_magento_cron_memory_high %}
# Throttle cron jobs when they consume more than {{ aws_magento_cron_memory_high }} of memory
MemoryHigh={{ aws_magento_cron_memory_high }}
{% endif %}
{% if aws_magento_cron_cpu_quota %}
# Limit cpu usage to {{ aws_magento_cron_cpu_quota }} of a single core
CPUQuota={{ aws_magento_cron_cpu_quota }}
{% endif %}
{% if aws_magento_cron_cpu_shares %}
CPUShares={{ aws_magento_cron_cpu_shares }}
{% endif %}

[Install]
WantedBy=multi-user.target
